.recipeCard {
    width: 380px;
    border-radius: 20px;
    background: white;
    padding-bottom: 61px;
    overflow: hidden;
}

.recipeCardHeader {
    position: relative;
}

.recipeImage {
    object-fit: cover;
}

.recipeTimeTag {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    border-radius: 14px;
    background: #FFD15B;
    padding: 5px 15px;
    font-family: var(--font-manrope);
    font-weight: 400;
    font-size: 12px;
}

.recipeTitle {
    font-family: var(--font-anton);
    font-weight: 400;
    font-size: 18px;
    margin: 32px auto 29px 0px;
}
.recipeLabel {
    color: #7A7A7A;
    font-weight: 700;
    letter-spacing: 0.09em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.recipeContent {
    padding: 0 25px;
}

.recipeDetails {
    font-family: var(--font-manrope);
}

.recipeDescription {
    display: -webkit-box;          
    -webkit-line-clamp: 4;         
    -webkit-box-orient: vertical;  
    overflow: hidden;   
    margin-bottom: 32px;           
    text-overflow: ellipsis;  
    font-weight: 400;
    font-size: 14px;   
    color: #1B1B1B;
}

.recipeIngredients {
    display: flex;
    flex-wrap: wrap;
}