.tagSelect {
    height: 56px;
    border: none;
    border-radius: 11px;
    padding: 0 16px;
    background: white;
    color: black;
    appearance: none;
    width: 100%;
}

.tagSelectWrapper {
  position: relative;
  display: inline-block;
    width: 195px;

}

.select {
  appearance: none;
  width: 100%;
  padding-right: 2rem;
}

.arrow {
  position: absolute;
  width: 13px;
  height: 6px;
  right: 0.75rem; /* décale la flèche vers l’intérieur */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* pour ne pas bloquer le clic */
}