.formContainer {
    width: 100%;
    height: 116px; 
    position: relative;
}

.tagContainer {
    display: flex;
    gap: 65px;  
    position: absolute;
    top: 60px;
    left:112px;
}

.recipesQuantity {
    width: 100px;
    text-align: right;
    font-family: var(--font-anton);
    font-weight: 400;
    font-size: 21px;
    position: absolute;
    top: 72px;
    right: 112px;
}
