.mainContainer {
    position: relative;
}
.recipeContainer {
    display: flex;
    gap: 48px; 
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 102px;
    padding-right: 102px;
    margin-bottom: 60px;
}

.bannerContent {
    width: 100%;
    position: relative; 
    background-image: url('/banner-picture.png');
}

.noRecipeMessage {
    width: 100%;
    text-align: center;
    font-family: var(--font-anton);
    font-weight: 200;
    font-size: 21px;
}

.spanNoRecipeMessage {
    color: #ffd15b;
    background: black;
    padding: 5px;
    border-radius: 10px;
}

.tagCollector {
    padding: 20px 112px 60px 112px;
    display: flex;
    gap: 30px;
}

.deportedTag {
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: #FFD15B;
    border-radius: 11px;
    padding: 16px;
    margin-top:20px;
    width: 195px;
}