.footer {
    width: 100%;
    height: 138px;
    color: white;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-manrope);
    font-weight: 500px;
}